

.logo{
  width: 100%;
  height: auto;
}


h1.title {
  display: inline-block;
  vertical-align: middle;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 0px;
  font-size: 100px;
  font-family: 'Finger Paint';
}

.center1{
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
}

.carouselimg {
  width: 500px;
  text-align: center;
}
